<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<h2 *ngIf = "data.status === 'Y' || data.status === 'N'" mat-dialog-title>Verdict</h2>
<h2 *ngIf = "data.status === 'H'" mat-dialog-title>Hint</h2>
<h2 *ngIf = "data.status === 'S'" mat-dialog-title>Solution</h2>
<h2 *ngIf = "data.status === 'O'" mat-dialog-title>Optimized Approach</h2>
<h2 *ngIf = "data.status === 'JM'" mat-dialog-title>A warm welcome <3</h2>
<h2 *ngIf = "data.status === 'G'" mat-dialog-title></h2>



<mat-dialog-content [ngClass] = "{'success' : data.status === 'Y', 'failure' : data.status === 'N'}">
    <p class ="ai-text" [innerHTML] = "data.response"></p>
</mat-dialog-content>