<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11155656868">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11155656868');
</script>
</head>

<body>
    <mat-toolbar style="background-image: linear-gradient(60deg, #F7F9F2, #F19ED2);">
        <p class="welcome-header">Welcome {{username}}</p>
        <span class="toolbar-spacer"></span>
        <div (click)="getPremium()" class="logout-button" style="margin-right: 10px;width: 8%;">
            <p class="logout-button-text">Get <b>PREMIUM</b></p>
        </div>
        <div (click)="goToSectionScreen()" class="logout-button" style="margin-right: 10px;width: 15%;">
            <p class="logout-button-text">Back to Home</p>
        </div>

        <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                account_circle
            </span>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click) = "goToProfile()">My Profile</button>
        <button mat-menu-item (click) = "goToAbout()">About CodeNexusAI</button>
        <button mat-menu-item (click) = "goToSupport()">Support</button>
        <button mat-menu-item (click) = "logout()">Logout</button>
        </mat-menu>
      </mat-toolbar>  
    <button style="margin-top: 10px;" (click)="goBackToCompSelection()" mat-raised-button color="primary">Go back to Company selection</button>
    <h2 class="mat-tile-header">Choose the difficulty level and a data structure you want to practice on.</h2>
        <p style="margin-left: 45%;display: inline-block;" matTooltip="{{premiumTooltip}}" [matTooltipDisabled]="isPremium">
            <mat-slide-toggle [disabled]="!isPremium" [checked] = "checked" [(ngModel)]="timedMode">
                <span style="font-family: 'Open Sans', sans-serif; font-weight: bold;">
                    Timed mode
                </span>
                <span *ngIf = "disabled == !isPremium" class="material-symbols-outlined" title="Unlock with PREMIUM subscription">
                    lock
                </span>
            </mat-slide-toggle>
        </p>
        <br />
    <div style="margin-left: 18%; margin-right: 33%;">
        <label class="mat-tile-header-2">Choose your difficulty level: </label>
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="diffLevel" style="margin-left: 4%;">
            @for (difficulty of difficulties; track difficulty) {
                <div style="display: inline;" matTooltip="{{premiumTooltip}}"
                 [matTooltipDisabled]="difficulty != 'Auto Adapt' && isPremium == false">
                    <mat-radio-button 
                    [disabled] = "(difficulty == 'Auto Adapt' && isPremium == false) ? true : false" class="radio-button" [value]="difficulty">
                    <span style="font-family: 'Open Sans', sans-serif; font-weight: bold;">
                        {{difficulty}}
                    </span>
                    </mat-radio-button>
                </div>
            }
            <span *ngIf = "!isPremium" class="material-symbols-outlined">
                lock
            </span> 
        </mat-radio-group>
        <mat-grid-list class="mat-tile" cols="4" rowHeight="20vh" style="width: 60vw">
            @for(tile of tiles; track tile){
                <mat-grid-tile
                id="{{tile.text}}"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                [style.background]="tile.color"
                (mouseenter)="onTileHover(tile.text)"
                (mouseleave)="onTileHoverEnd(tile.text)"
                (click)="onTileSelect(tile.text)"
                style="transition: 330ms ease-in-out;">
                    {{tile.text}}
                    <img src="../../assets/icons/data-structure/{{tile.text}}.svg" 
                    style="margin-left: 10px;" height="35px" width="35px">
                </mat-grid-tile>
            }
        </mat-grid-list>
    </div>
</body>