.mat-tile{
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.mat-tile-header{
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
    font-size: 25px;
    color: white;
}

.mat-tile-header-2{
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 25px;
}

.radio-button{
    margin-left: 2%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.example-radio-group{
    font-family: "Open Sans", sans-serif;
}

body{
    /* background-image: linear-gradient(120deg, #9B86BD, #610480); */
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.tileHover{
    transform: scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.mat-slide-toggle {
    margin-top: 45px;
    transform: scale(1.5);
}

.difficulty-text{
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold; 
    font-size: 25px;
    display: inline;
}