.carousel-text{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: 65%;
    text-align: center;
}

#recaptcha-container{
    height: 0px;
    width: 0px;
}

.main-image{
    margin-top: 25%;
    margin-left: 16%;
}

.main-tag{
    margin-top: 0%;
    padding-top: 22%;
    margin-left: 16%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    color: #402d2d;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    font-family: Baskerville, serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }

  .right-pane-1{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    border-radius: 8px;
    height: 100%;
  }