.topHeader{
    background: #100d28;
    height: 30%;
    text-align: center;
}

.bottomHeader{
    background-color: #102C57;
    height: 70%;
}

.faceIcon{
    font-size: 65px;
    margin-left: 47%;
}

.profileSummary{
    font-size: 25px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
}

.profileIcon{
    margin-left: 47%;
    height: 75px;
    width: 75px;
    background-size: cover;
}

body{
    background-color: #102C57; color: white;
}