<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <mat-toolbar style="background-image: linear-gradient(60deg, #F7F9F2, #F19ED2);">
        <span class="toolbar-spacer"></span>
        <div (click)="getPremium()" class="logout-button" style="margin-right: 10px;width: 8%;">
            <p class="logout-button-text">Get <b>PREMIUM</b></p>
        </div>
        <div (click)="goToHome()" class="logout-button" style="width: 10%;">
            <p class="logout-button-text">Back to Home</p>
        </div>

        <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                account_circle
            </span>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click) = "logout()">Logout</button>
        </mat-menu>
    </mat-toolbar>  
    <div class="topHeader">
        <img src="../../assets/images/code-nexus.png" height="100%">
    </div>
    <div class="bottomHeader">
        <div class="profileIcon" style="background-image: url('../../assets/profile_icons/rank_{{rank}}.svg');">
        </div>
        <div>
            <p class="profileSummary" style="font-size: 25px; text-align: center;">Hi <em><u>{{username}}</u></em><br /><br />
            <b>Email</b>: {{email}}<br/>
            <b>Phone Number</b>: {{phoneNumber}}
            <br /> <br /> 
            <b><u>SQL</u></b> <br />
            <b>Questions Solved</b>:{{sqlQuestionsSolved}}<br/>
            <b>Highest streak</b>: {{sqlHighestStreak}} <br/> <br/> 
            <b><u>Programming</u></b> <br/>
            <b>Questions Solved</b>: {{pgmQuestionsSolved}}<br/> 
            <b>Highest streak:</b>{{pgmHighestStreak}}</p>
        </div>
    </div>
</body>