<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <mat-toolbar>
        <span class="toolbar-spacer"></span>
        <div (click)="goToHome()" class="logout-button" style="width: 10%;">
            <p class="logout-button-text">Back to Home</p>
        </div>

        <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-symbols-outlined" style="font-size: 30px;">
                account_circle
            </span>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click) = "logout()">Logout</button>
        </mat-menu>
    </mat-toolbar>  
    <div class="topHeader">

    </div>
    <div class="bottomHeader">
        <div class="profileIcon" style="background-image: url('../../assets/profile_icons/rank_{{rank}}.svg');">
        </div>
        <div>
            <p class="profileSummary" style="font-size: 25px; text-align: center;">Greetings! <em><u>{{rankTitle}}</u></em>. (Sumanth)!<br />
            Your email is <b>{{email}}</b> and phone number is <b> {{phoneNumber}} </b>
            <br /> <br /> 
            In SQL <br />
            You have solved <b>{{sqlQuestionsSolved}}</b> questions so far.<br/>
            Your highest streak in SQL is <b>{{sqlHighestStreak}}</b> <br/> <br/> 
            In Programming <br/>
            You have solved <b>{{pgmQuestionsSolved}}</b> questions so far<br/> Your highest streak in programming is <b>{{pgmHighestStreak}}</b></p>
        </div>
    </div>
</body>