.dash-header{
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: white;
}

.dash-body{
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 16px;
    text-align: center;
    color: white;
}
body{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.button-text{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}

.list-holder{
    margin-left: 8%; 
    margin-top: 4%; 
    margin-right: 33%;
    background-color: #F1F1F1; 
    padding: 20px; 
    border-radius: 10px;
    width: 80%;
    height: 70%;
}