
<body>
    <div style="margin-left: 38%; margin-top: 18%; margin-right: 33%;background-color: 75A47F; padding: 20px; border-radius: 10px;">
        <button (click)="navigate()" style="margin-top: 5%;width: 100%; background-color: #BACD92;" mat-raised-button>Google</button>
        <button (click)="navigate()" style="margin-top: 5%;width: 100%; background-color: #FCFFE0;" mat-raised-button>Meta</button>
        <button (click)="navigate()" style="margin-top: 5%;width: 100%; background-color: #BACD92;" mat-raised-button>Adobe</button>
        <button (click)="navigate()" style="margin-top: 5%;width: 100%;  background-color: #FCFFE0;" mat-raised-button>Netflix</button>
    </div>
   
</body>
