<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <h2 class="dash-header" style="text-align: center;margin-top: 10%;">Pick your Poison!</h2>
    <div style="margin-left: 35%; margin-top: 8%; margin-right: 33%;background-color: #F1F1F1; padding: 20px; border-radius: 10px;">
        <div *ngFor = "let company of companiesList; let i = index">
            <button (click)="navigate(i)" style="margin-top: 5%;width: 100%;"
            [ngStyle] = "{'background-color' : i % 2 == 0 ? '#C7B7A3' : '#EADBC8'}" mat-raised-button>{{company}}</button>
        </div>
        <button (click)="navigate(-1)" style="margin-top: 5%;width: 100%;background-color: #B5C18E;" mat-raised-button>Anything goes</button>
    </div>
   
</body>
