.codingCard{
    width: 45%;
    height: 60%;
    margin-top: 5%;
    margin-left: 4%;
    display: inline-block;
    padding: 10px;
    background-color: #FFFF80;
    border-radius: 10px;
    cursor: pointer;
}

.mob-codingCard{
    width: 90%;
    height: 25%;
    margin-top: 5%;
    margin-left: 4%;
    padding: 10px;
    background-color: #FFFF80;
    border-radius: 10px;
    cursor: pointer;
}

.mob-sqlCard{
    width: 90%;
    height: 25%;
    margin-top: 5%;
    margin-left: 4%;
    padding: 10px;
    background-color: #FFAA80;
    border-radius: 10px;
    cursor: pointer;
}

.daily-read-card{
    width: 45%;
    height: 7%;
    margin-left: 30%;
    margin-top: 5%;
    padding: 10px;
    background-color: #ADD899;
    border-radius: 10px;
    cursor: pointer;
}

.mob-daily-read-card{
    width: 45%;
    height: 25%;
    margin-left: 30%;
    margin-top: 5%;
    padding: 10px;
    background-color: #ADD899;
    border-radius: 10px;
    cursor: pointer;
}

.codingCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sqlCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.daily-read-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sqlCard{
    width: 45%;
    height: 60%;
    margin-top: 5%;
    margin-left: 2%;
    display: inline-block;
    padding: 10px;
    background-color: #FFAA80;
    border-radius: 10px;
    cursor: pointer;
}

.cardText{
    font-size: 40px;
    text-align: center;
    margin-top: 22%;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
}

.cardIcons{
    font-size: 80px;
    margin-left: 43%;
}

.cardHeaderText{
    font-size: 25px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
}

body{
    /* background-image: linear-gradient(120deg, #9B86BD, #b714ee); */
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.daily-read-text{
    padding-top: 0;
    margin-top: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}